# Notebook 3: Operaciones de Administración de Base de Datos relacional

En el ciclo de vida de una base de datos relacional, a menudo el administrador de la BD tiene que realizar ciertas operaciones de mantención. Mencionamos en particular:

1- Realizar una copia de seguridad de los datos

2- Crear usuarios y definir permisos de acceso a la BD

3- Modificar la estructura de la BD

4- Agregar restricciones o reglas de integridad sobre la estructura de los datos

## Ejercicio 1: Crear una BD de prueba básica

Para realizar los ejercicios siguientes, primero vamos a crear una BD de prueba básica, llamada "Valdivia". Esta base de datos está constituida por 3 tablas:

- PERSONA(pk_RUT, Nombre, Edad)   (ej.: "1, Juan, 20")

- LUGAR_DE_INTERES(pk_Lugar, Descripcion, Categoria, Latitud, Longitud)  (ej.; "1, Mercado Fluvial, Turismo, -39.81, -73.24")

- DESPLAZARSE(#pk_RUT, fecha, Latitud, Longitud)  (ej. "1, 30/09/2018 12:00:00, -39, -70")

1) Implementar la estructura de esta base de datos en MySQL indicando las claves primarias y foraneas y los tipos de datos

2) Insertar al menos 5 filas en cada tabla

3) ¿A qué tipo de aplicación podría servir esta base de datos?

In [ ]:
import mysql.connector
import pandas as pd
import subprocess 
from subprocess import Popen, PIPE, STDOUT
from IPython.display import display,HTML

db_connection = mysql.connector.connect(user="root",host="localhost",password="94209420")
cursor = db_connection.cursor()

cursor.execute("CREATE DATABASE valdivia") #creacion de la base de datos

cursor.execute("USE valdivia") #ingresamos a la base de datos 

cursor.execute("CREATE TABLE persona(pk_rut INT AUTO_INCREMENT, nombre VARCHAR(50), edad INT, PRIMARY KEY (pk_rut))")
cursor.execute("CREATE TABLE lugar_de_interes(pk_lugar INT AUTO_INCREMENT, descripcion VARCHAR(100), categoria VARCHAR(50), latitud FLOAT, longitud FLOAT, PRIMARY KEY(pk_lugar))")
cursor.execute("CREATE TABLE desplazarse(fecha VARCHAR (15), latitud FLOAT, longitud FLOAT, FOREIGN KEY id_rut(pk_rut))")

In [ ]:
#insertar en tabla persona

cursor.execute("INSERT INTO persona (pk_RUT,nombre,edad) VALUES ('17.789.356-6','vicente ignar', 28)")
cursor.execute("INSERT INTO persona (pk_RUT,nombre,edad) VALUES ('18.964.665-1','Ricardo Rott', 25)")
cursor.execute("INSERT INTO persona (pk_RUT,nombre,edad) VALUES ('19.435.455-6','yanett richo', 20)")
cursor.execute("INSERT INTO persona (pk_RUT,nombre,edad) VALUES ('17.695.345-7','Marcelo Urra', 34)")
cursor.execute("INSERT INTO persona (pk_RUT,nombre,edad) VALUES ('9.533.556-9','Karin Rivas', 58)")

#insertar en tabla lugar_de_interes

cursor.execute("INSERT INTO lugas_de_interes (pk_lugar, descripcion, categoria, latitud, longitud) VALUES (1,'Playa', 'turismo', 90,-30)")
cursor.execute("INSERT INTO lugas_de_interes (pk_lugar, descripcion, categoria, latitud, longitud) VALUES (2,'Mercado', 'comercio', 40,15)")
cursor.execute("INSERT INTO lugas_de_interes (pk_lugar, descripcion, categoria, latitud, longitud) VALUES (3,'Mall', 'comercio', 45,30)")
cursor.execute("INSERT INTO lugas_de_interes (pk_lugar, descripcion, categoria, latitud, longitud) VALUES (4,'Feria fluvial', 'comercio', -15,59)")
cursor.execute("INSERT INTO lugas_de_interes (pk_lugar, descripcion, categoria, latitud, longitud) VALUES (5,'Fuerte niebla', 'turismo', -90,60)")

#insertar en tabla desplazarse

cursor.execute("INSERT INTO desplazarse (pk_RUT,fecha,latitud, longitud) VALUES ('17.789.356-6','29/10/2005 17:20:00', 50, 30)")
cursor.execute("INSERT INTO desplazarse (pk_RUT,fecha,latitud, longitud) VALUES ('18.964.665-1','19/11/2007 20:59:01', 38, 24)")
cursor.execute("INSERT INTO desplazarse (pk_RUT,fecha,latitud, longitud) VALUES ('19.435.455-6','28/12/2014 01:25:50', 70, 65)")
cursor.execute("INSERT INTO desplazarse (pk_RUT,fecha,latitud, longitud) VALUES ('17.695.345-7','15/07/2018 15:30:43', 85, 34)")
cursor.execute("INSERT INTO desplazarse (pk_RUT,fecha,latitud, longitud) VALUES ('9.533.556-9','16/04/2011 09:45:23', 59, 64)")

In [ ]:
Puede ser para una empresa de turismo, que tenga clientes y sepa el movimiento, gustos de sus clientes,
pudiendo asi recomendar lugares de interes

## Ejercicio 2: Realizar una copia de seguridad de una BD y exportar datos

<a href="https://dev.mysql.com/doc/refman/8.0/en/backup-and-recovery.html"> Backup and Recovery in MySQL</a>

1) ¿Por qué hacer copias de seguridad de su base de datos?

2) Utilizar el comando <code>Mysqldump</code> para realizar una copia de su base de datos. ¿Cuál es el <i>output</i> de este comando?

3) En algunos casos, queremos simplemente exportar datos para poder utilizarlos en otros contextos. ¿En qué consiste el formato de datos CSV? ¿Cómo exportar datos al formato CSV desde MySQL? (ver: <a href="http://www.mysqltutorial.org/mysql-export-table-to-csv/">Tutorial</a>)

In [ ]:
1.- Porque si no hacemos copias de seguridad podriamos perder nuestros datos, si perdemos el dispositivo o la 
base de datos tiene un error, podemos buscar nuestro respaldo y tomar los datos que teniamos nuevamente. 

2.- Se despliegara en pantalla una copia de la base de datos que queremos.

3.- se utiliza el formato de archivo CSV para intercambiar datos entre aplicaciones.
Para hacerlo, necesita usar la declaración preparada de MySQL. Se exporta con el siguiente comando
mysql -u root -p valdivia -e 'SELECT * FROM persona'  > persona.csv

## Ejercicio 3: Gestionar usuarios y privilegios de lectura y escritura

En la configuración por defecto de MySQL, existe un sólo usuario, llamado 'root', lo cual tiene todos los derechos. En término de seguridad es muy poco recomendable trabajar siempre con el usuario 'root' (en particular cuando se deja los passwords en el código o un archivo de parametros). 

1) ¿Cuáles son los tipos de privilegios en una base de datos relacional?

2) Crear un nuevo usuario y darle todos los privilegios sobre la base de datos 'Valdivia'

3) Crear un nuevo usuario, lo cual tendrá solamente acceso de lectura sobre la tabla Lugar_de_interes y Desplazarse

In [ ]:
1. Exiten 5 tipos de privilegios
- usuario: contiene la cuenta de usuario y las columnas de privilegios globales. Un privilegio otorgado en la tabla de 
usuario es efectivo para todas las bases de datos en el servidor MySQL.
-db: contiene privilegios de nivel de base de datos. Un privilegio otorgado en el nivel de la base de datos en la tabla db 
se aplica a la base de datos y todos los objetos pertenecen a esa base de datos, por ejemplo, tablas, activadores, 
vistas, procedimientos almacenados, etc.
-table_priv y columns_priv: contiene privilegios de nivel de tabla y nivel de columna. 
Un privilegio otorgado en la tabla table_priv se aplica a la tabla y sus columnas, mientras que un privilegio 
otorgado en la tabla columns_priv solo se aplica a una columna específica de una tabla.
-procs_priv: contiene funciones almacenadas y privilegios de procedimientos almacenados

In [ ]:
#2.

cursor.execute("CREATE USER user@localhost IDENTIFIED BY 'secret'") #crea el usuario
cursor.execute("GRANT ALL ON *.* TO 'user'@'localhost' WITH GRANT OPTION") #otorga todos los privilegios

In [ ]:
#3.
cursor.execute("CREATE USER user2@localhost IDENTIFIED BY 'secret2'") #crea el usuario2
cursor.execute("GRANT ALL ON valdivia.lugar_de_interes TO 'user2'@'localhost'") #le da acceso a lugar de interes
cursor.execute("GRANT ALL ON valdivia.desplazarse TO 'user2'@'localhost'") #da acceso a desplazarse

## Ejercicio 4: Modificar la estructura de una Base de Datos

Supongamos que queremos modificar la estructura de la base de datos 'Valdivia'. 

1) Modificar la BD (sin borrarla) para agregar un campo 'nivel de estudio' en la tabla 'Persona'.

2) Modificar la BD (sin borrarla) para dejar la posibilidad de tener varias categorías para describir un lugar de interés (implica crear una tabla adicional)

3) Agregar una restricción para que las columnas "Latitud" y "Longitud" nuncan sean NULL

In [ ]:
#1.- 
cursor.execute("ALTER TABLE persona ADD COLUMN nivel_est VARCHAR(10)")

#2.-
cursor.execute("CREATE TABLE categoria (pk nom_ct INT AUTO_INCREMENT, nombre_cat VARCHAR(50), pk_Lugar INTEGER(10) NOT NULL, PRIMARY KEY (pk nom_ct), FOREIGN KEY (pk_Lugar) REFERENCES lugar_de_interes(pk_Lugar));")

cursor.execute("INSERT INTO categoria (pk nom_ct, nombre_cat,pk_Lugar) VALUES (1, 'turismo',1)")

cursor.execute("INSERT INTO categoria (pk nom_ct, nombre_cat,pk_Lugar) VALUES (2, 'comercio',2)")

cursor.execute("INSERT INTO categoria (pk nom_ct, nombre_cat,pk_Lugar) VALUES (3, 'comercio',3)")

cursor.execute("INSERT INTO categoria (pk nom_ct, nombre_cat,pk_Lugar) VALUES (4, 'comercio',4)")

cursor.execute("INSERT INTO categoria (pk nom_ct, nombre_cat,pk_Lugar) VALUES (5, 'turismo',5)")

#3.-

cursor.execute("ALTER TABLE lugar_de_interes MODIFY latitud INT AUTO_INCREMENT NOT NULL")

cursor.execute("ALTER TABLE lugar_de_interes MODIFY longitud INT AUTO_INCREMENT NOT NULL")

## Ejercicio 5 (opcional): Innovación para Valdivia - Smart City

1) Revisar el concurso "Desafio Smart City": https://www.innoving.cl/smartcity

2) Considerando que la empresa Telefonica del Sur podría darle acceso a ciertos datos telefónicos de la Ciudad, imaginar un escenario de innovación basado sobre una base de datos similar a aquella que creamos.

In [ ]:
2. Basandonos en la base de datos recien creada, podriamos desarrollar un proyecto de ayuda al turismo. En él podemos 
reunir los principales atractivos turisticos de la ciudad, sus principales comercios, y artesanias. Como requisito a la app
seria la creacion de un usuario, con ello podremos reunir datos de interes, como los atractivos que mas le gustan, o 
los comercios a los que recurre, y asi al ingreso de otro usuario que presente algun interes en comun, podemos hacer 
recomendaciones, basadas en los gustos de usuarios similares, asi seria mas facil encontrar lugares que son completamente 
de su interes para cada usuario. Estaria conectada a una red gps para los usuarios turistas, ademas de dar indicaciones 
de el transporte publico que deben tomar, horarios, valores y ubicaciones.